---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
				position: relative;
           		display: inline-block;
				margin-top: 24px;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
			}

			.text-overlay {
            position: absolute;
            top: 50%; /* Adjust as needed to vertically center the text */
            left: 50%; /* Adjust as needed to horizontally center the text */
            transform: translate(-50%, -50%); /* Center the text */
            color: white;
            font-size: 48px;
            font-weight: bold;
            text-align: center;
			animation: fade 3s infinite;
        }
			.prose {
				width: 850px;
				max-width: calc(100% - 2em);
				margin: auto;
				
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
			@keyframes fade {
        0% { opacity: 1; }
        50% { opacity: 0.5; }
        100% { opacity: 1; }
    }
		</style>
	</head>

	<body>
		<main>
			<article>
				<div class="hero-image">
					{heroImage &&
					<>
						<img width={1000} height={400} src={heroImage} alt="" />
						<div class="text-overlay">
							Empowering Tomorrow, Today
						</div>
					</>
					}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
